{
  "extends": "rqbazan-js/react",
  "settings": {
    "import/resolver": {
      "babel-module": {
        "root": ["."],
        "alias": {
          "~": "./src"
        }
      }
    }
  },
  "rules": {
    "react/no-danger": "off",
    "react/react-in-jsx-scope": "off"
  }
}
