@import "tailwindcss";

:root {
  --wording: rgb(31, 41, 55);
  --background: rgb(255, 246, 227);
  --muted: rgb(75, 85, 99);
  --selection: rgb(55, 65, 81);
}

.dark {
  --wording: rgb(255, 255, 255);
  --background: rgb(16, 16, 16);
  --muted: rgb(156, 163, 175);
  --selection: rgb(255, 167, 60);
}

@theme {
  --color-wording: var(--wording);
  --color-background: var(--background);
  --color-muted: var(--muted);
  --color-selection: var(--selection);

  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  --font-inherit: inherit;
  --font-sans:
    "IBM Plex Sans", "ui-sans-serif", "system-ui", "-apple-system",
    "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", "Arial",
    "Noto Sans", "sans-serif", "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";

  --text-h1: 2.25rem;
  --text-h2: 2rem;
  --text-h3: 1.5rem;
  --text-h4: 1.25rem;
  --text-h5: 0.8125rem;
  --text-p: 0.875rem;
  --text-small: 0.75rem;
  --text-tiny: 0.5rem;

  --aspect-cover: 4 / 3;
}

@layer base {
  @font-face {
    font-family: "IBM Plex Sans";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("/fonts/ibm-plex-sans-var.woff2") format("woff2");
  }

  html {
    @apply text-[16px] bg-background text-wording h-full scroll-pt-6;
    @apply font-sans leading-none;
  }

  body {
    @apply h-full;

    padding-left: calc(100vw - 100%);
  }

  .Typewriter {
    @apply inline-block;
  }

  *::-webkit-scrollbar {
    @apply w-[4px];
  }

  *::-webkit-scrollbar-track {
    background: rgb(209, 213, 219);
  }

  *::-webkit-scrollbar-thumb {
    background: rgb(107, 114, 128);
  }

  *::-webkit-scrollbar-thumb::hover {
    background: rgb(55, 65, 81);
  }

  *::selection {
    @apply bg-selection text-background;
  }
}

@layer components {
  .h1 {
    @apply text-h1 font-semibold;
  }

  .h2 {
    @apply text-h2 font-semibold;
  }

  .h3 {
    @apply text-h3 font-medium;
  }

  .h4 {
    @apply text-h4 font-medium;
  }

  .h5 {
    @apply text-h5 font-semibold uppercase;
  }

  .p {
    @apply text-p font-normal text-muted leading-normal;
  }

  .small {
    @apply text-small font-normal;
  }

  .tiny {
    @apply text-tiny font-normal;
  }

  .tech-tag {
    --bg-saturation: 50%;
    --bg-lightness: 90%;
    --txt-saturation: 100%;
    --txt-lightness: 10%;

    background: hsl(var(--hash), var(--bg-saturation), var(--bg-lightness));
    color: hsl(var(--hash), var(--txt-saturation), var(--txt-lightness));
    border-color: hsl(var(--hash), var(--txt-saturation), var(--txt-lightness));
  }

  .dark .tech-tag {
    --bg-saturation: 70%;
    --bg-lightness: 10%;
    --txt-saturation: 60%;
    --txt-lightness: 75%;
  }
}
