---
import { cn } from "~/utils/cn";

interface Props {
  description?: string;
  class?: string;
}

const { class: className } = Astro.props;
---

<div class={cn(className, "flex flex-col items-center")}>
  <div class="select-none w-full mb-3">
    <slot name="image" />
  </div>
  <p class="small text-muted">
    <slot name="description" />
  </p>
</div>
