---
import { Image } from "@unpic/astro";
import { getImagePlaceholder } from "~/utils/get-image-placeholder";
import CoverImgContainer from "./cover-img-container.astro";
import ImgFrame from "./img-frame.astro";

interface Props {
  src: string;
  alt: string;
  class?: string;
  width: number;
  height: number;
}

const { class: className, src, ...otherProps } = Astro.props;
const placeholder = await getImagePlaceholder(src);
---

<CoverImgContainer class={className}>
  <Fragment slot="image">
    <ImgFrame>
      <a href={src} target="_blank" rel="noreferrer" class="w-full h-full">
        <Image
          {...otherProps}
          src={src}
          placeholder="blurhash"
          background={placeholder}
          priority
          fetchpriority="high"
          class="aspect-cover w-full h-full"
        />
      </a>
    </ImgFrame>
  </Fragment>
  <Fragment slot="description">
    <slot name="description" />
  </Fragment>
</CoverImgContainer>
