.tag {
  @apply rounded text-xs m-1 px-2 select-none md:text-sm border;

  --bg-color: hsl(var(--hash), 50%, 10%);
  --text-color: hsl(var(--hash), 60%, 75%);

  background-color: var(--bg-color);
  color: var(--text-color);
  border-color: var(--text-color);
}
