/* https://css-tricks.com/elegant-fix-jumping-scrollbar-issue/ */
@screen md {
  #__next > header {
    padding-left: calc(100vw - 100%);
  }
}

html,
body,
#__next {
  height: 100%;
}

body {
  @apply bg-body dark:bg-body-dark text-wording dark:text-wording-dark;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-title dark:text-title-dark;
}

.\$markdown {
  .emoji {
    @apply inline-block h-4 w-4;
  }

  ul {
    @apply list-disc ml-4 space-y-2;
  }

  a {
    @apply underline transition-colors duration-300;
  }

  h2 a {
    @apply no-underline;
  }

  h2 {
    @apply text-lg font-bold uppercase mb-4;
  }

  section:not(:last-child) {
    @apply mb-6;
  }
}

#nprogress .bar {
  @apply h-2 pointer-events-none bg-title dark:bg-title-dark opacity-20 left-0 top-0 w-full z-50 fixed;
}

::-webkit-scrollbar {
  @apply w-1;
}

::-webkit-scrollbar-track {
  @apply bg-gray-300;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-500;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-700;
}

::selection {
  @apply bg-yellow-300 dark:bg-blue-700;
}
