/* https://css-tricks.com/elegant-fix-jumping-scrollbar-issue/ */
@screen md {
  #__next > header {
    padding-left: calc(100vw - 100%);
  }
}

html,
body,
#__next {
  height: 100%;
}

body {
  @apply bg-body dark:bg-body-dark text-wording dark:text-wording-dark;
}

.\$markdown {
  @apply dark:text-gray-400 text-wording;

  .emoji {
    @apply inline-block h-4 w-4;
  }

  a {
    @apply underline;
  }
}

#nprogress {
  @apply pointer-events-none;

  .bar {
    @apply bg-wording left-0 top-0 w-full z-50 fixed;
    height: 2px;
  }
}

::-webkit-scrollbar {
  @apply w-1;
}

::-webkit-scrollbar-track {
  @apply bg-gray-300;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-500;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-700;
}

::selection {
  @apply bg-accent dark:bg-accent-dark text-wording dark:text-white;
}
