@font-face {
  font-family: 'JetBrains';
  src: url('/fonts/JetBrainsMono-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains';
  src: url('/fonts/JetBrainsMono-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: bold;
  font-display: swap;
}

/* https://css-tricks.com/elegant-fix-jumping-scrollbar-issue/ */
@screen md {
  #__next > header {
    padding-left: calc(100vw - 100%);
  }
}

body {
  @apply bg-body dark:bg-wording text-wording dark:text-white;

  font-family: 'JetBrains', monospace;
  font-weight: normal;
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
}

p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  color: inherit;
  font-weight: normal;
  font-size: 16px;
}

a {
  text-decoration: underline;
}

strong {
  font-weight: 500;
}

.emoji {
  @apply inline-block h-4 w-4;
}

#nprogress {
  @apply pointer-events-none;

  .bar {
    @apply bg-selection left-0 top-0 w-full z-50 fixed;
    height: 2px;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-gray-300;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-500;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-700;
}

::selection {
  @apply bg-selection text-black;
}
