@font-face {
  font-family: 'JetBrains';
  src: url('/fonts/JetBrainsMono-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains';
  src: url('/fonts/JetBrainsMono-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: bold;
  font-display: swap;
}

:root {
  --scrollbar-width: 8px;
}

::selection {
  background-color: theme('colors.selection');
  color: black;
}

body {
  @apply bg-body dark:bg-wording text-wording dark:text-white;

  font-family: 'JetBrains', monospace;
  font-weight: normal;
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
}

p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  color: inherit;
  font-weight: normal;
  font-size: 16px;
}

div.token-line {
  line-height: 1.75;
}

.token-line:first-of-type,
.token-line:last-of-type,
.token.plain:first-of-type {
  display: none;
}

@screen md {
  .token-line:first-of-type,
  .token-line:last-of-type,
  .token.plain:first-of-type {
    display: inline;
  }
}

.token.property,
.token.operator,
.token.punctuation {
  font-weight: 700;
}

span.code {
  font-family: 'JetBrains', monospace;
}

a {
  text-decoration: underline;
}

strong {
  font-weight: 500;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background-color: theme('colors.selection');
  height: 2px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: theme('zIndex.50');
}

@screen md {
  .main-layout-on-full-screen-page header > div {
    margin-right: var(--scrollbar-width);
  }
}

::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

::-webkit-scrollbar-track {
  @apply bg-gray-300;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-500;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-700;
}
