---
import Heading from "~/layouts/default/components/heading.astro";
import CoverImg from "~/ui/components/cover-img.astro";
import Li from "~/ui/components/li.astro";
import { getImageProps } from "~/utils/get-image-props";
import DefaultLayout from "../layouts/default/index.astro";

export const prerender = true;
---

<DefaultLayout title="Uses | Ricardo Q. Bazan">
  <Heading>
    <Fragment slot="title">Uses</Fragment>
    <Fragment slot="content">
      Here's what tech I'm currently using for coding, studying or chill. Most
      of these have been accumulated over the past {
        new Date().getFullYear() - 2017
      } years.
    </Fragment>
  </Heading>
  <CoverImg
    {...getImageProps("covers/uses-v4")}
    width={672}
    height={504}
    alt="My office 2021"
    class="mb-9"
    description="My home office"
  />
  <h3 class="h3 mb-8">Desktop</h3>
  <ul class="ml-3 space-y-2">
    <Li>Macbook Pro M2 14inch</Li>
    <Li>Monitor Dell Ultrasharp 27inch 4K</Li>
    <Li>Keychron K7 Ultra-slim</Li>
    <Li>Mouse Logitech Mx Master 3</Li>
  </ul>
  <h3 class="h3 mb-8 mt-9">Chat</h3>
  <ul class="ml-3 space-y-2">
    <Li>Sony Headphones WH-1000XM5 Black</Li>
    <Li>Logitech StreamCam Black</Li>
    <Li>Blue Yeti X Black</Li>
  </ul>
  <h3 class="h3 mb-8 mt-9">Coding</h3>
  <ul class="ml-3 space-y-2">
    <Li>Visual Studio Code</Li>
    <Li>iTerm</Li>
    <Li>JetBrains DataGrip</Li>
    <Li>Docker Desktop</Li>
    <Li>Arc</Li>
    <Li>Github Desktop</Li>
  </ul>
  <h3 class="h3 mb-8 mt-9">Other</h3>
  <ul class="ml-3 space-y-2">
    <Li>Kindle Paperwhite 10th generation 8GB</Li>
    <Li>Nintendo Switch 2019</Li>
  </ul>
</DefaultLayout>
