.img {
  transition: filter 0.2s linear;
  height: 60%;
}

@screen md {
  .img {
    height: 85%;
    margin-right: 0;
  }
}

@screen lg {
  .img {
    margin-right: 10%;
  }
}

@screen xl {
  .img {
    margin-right: 20%;
  }
}

:global(.dark) .img {
  filter: contrast(200%);
}
