@font-face {
  font-family: 'JetBrains';
  src: url('/fonts/JetBrainsMono-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrains';
  src: url('/fonts/JetBrainsMono-Bold.woff2') format('woff2');
  font-weight: 500;
  font-style: bold;
}
