---
import { cn } from "~/utils/cn";

const { class: className } = Astro.props;
---

<div
  class={cn(
    "bg-cyan-300 text-gray-800 rounded-md inline-flex items-center justify-center px-1 py-0.5",
    className
  )}
>
  <span class="tiny uppercase translate-y-[0.05rem] font-semibold">New</span>
</div>
